{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block container %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for('accounts') }}">Accounts</a></li>
        <li class="active">{{ account.username }}</li>
        <li class="active">Edit</li>
    </ol>

    <form action="{{ url_for('edit_account', id=account.id) }}" method="POST">
        {{ form.hidden_tag() }}

        {{ wtf.form_errors(form) }}

        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}

        <input class="btn btn-success" type="submit" value="Save" />
    </form>
{% endblock %}
