{% extends "post/base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block container %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for('accounts') }}">Accounts</a></li>
        <li class="active">{{ account.username }}</li>
    </ol>

    <h1>Schedule a post</h1>
    <form action="{{ url_for('create_post', account_id=account.id) }}" method="POST">
        {% include "post/_form.html" %}

        <input class="btn btn-success" type="submit" value="Schedule post" />
    </form>
{% endblock %}
