{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block container %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for('accounts') }}">Accounts</a></li>
        <li class="active">{{ account.username }}</li>
    </ol>

    <h1>Schedule post</h1>
    <form action="{{ url_for('account_posts', id=account.id) }}" method="POST">
        {% include "post/_form.html" %}

        <input class="btn btn-success" type="submit" value="Schedule post" />
    </form>

    {% if account.posts %}
        <h1>Posts</h1>

        <div class="row">
            {% for post in account.posts %}
                <div class="col-xs-6 col-sm-4 col-md-3">
                    {% if not post.posted_at %}<a href="{{ url_for('edit_post', id=post.id) }}" style="color: #000; text-decoration: none;">{% endif %}
                        <img src="/static/uploads/{{ post.image }}" style="max-width: 100%;" />
                        <div style="font-size: 12px; margin-top: 3px;">
                            {% if post.posted_at %}
                                <span class="glyphicon glyphicon-ok"></span>
                                {{ post.posted_at.strftime("%Y/%m/%d %H:%M") }}
                            {% else %}
                                <span class="glyphicon glyphicon-time"></span>
                                {{ post.post_at.strftime("%Y/%m/%d %H:%M") }}
                            {% endif %}
                        </div>
                    {% if not post.posted_at %}</a>{% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
