{% extends "post/base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block container %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for('accounts') }}">Accounts</a></li>
        <li class="active">{{ account.username }}</li>
        <li class="active">Edit post</li>
    </ol>

    <h1>Edit post</h1>
    <form action="{{ url_for('edit_post', id=post.id) }}" method="POST">
        {% include "post/_form.html" %}

        <input class="btn btn-success" type="submit" value="Reschedule post" />
        <input class="btn btn-danger" name="delete" type="submit" value="Delete post" onclick="return confirm('Are you sure want to delete this post?');" style="float: right;" />
    </form>
{% endblock %}
