{% extends "analytics/analytic_base.html" %}

{% block analytic_content %}
<section id="main-content">
    <section id="welcome-content" class="login-pd wrapper">
    <div class="row">


    <div class="col-sm-12 intro-branding">
        <p class="main-branding">Monitor the Instagram users that don't follow you back</p>

        <p class="support-branding">< src="/static/sm-icons/dark_logo">
 helps you understand which users you follow that don't follow you back.</p>

        <p class="support-branding"> delivers data and insights to help you succeed in the social economy.</p>
    </div>
    </div>

    <div class="row intro-branding">
        <a class="insta-auth" href="/login/instagram/?next=">Connect With
            Instagram</a>
    </div>

    <div class="row intro-branding">
        <div class="col-sm-12 animated fadeIn">
            < class="-responsive login-hero" src="/static//insta-analytics-followback-large">

            <p class="-support">Gain insights into the delta between who you follow and who doesn't follow you back!</p>
        </div>
    </div>
    </section>
    <section id="sm-services" class="login-pd wrapper">
        <div data-section="services">
            <div class="container">
                <div class="row services-support">
                    <div class="col-md-12 section-heading text-center">
                        <h2 class="to-animate">Our Services</h2>

                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 to-animate">
                                <h3 class="feature-branding">Simple to get started. Instagram insights that you need.</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="box to-animate">
                            <div class="icon colored-1"><span><i class="fa fa-search"></i></span></div>
                            <h3>Valuable Insights</h3>

                            <p>Gain valuable insights from your Instagram content.  gives you the metrics
                                that can change the way you use Instagram. </p>
                        </div>
                        <div class="box to-animate">
                            <div class="icon colored-6"><span><i class="icon-user"></i></span></div>
                            <h3>Options for any user</h3>

                            <p>Choose the plan that suits your needs the most. From the casual user to the power
                                influencer,  has everything you're looking for.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box to-animate">
                            <div class="icon colored-2"><span><i class="fa fa-desktop"></i></span></div>
                            <h3>Trend Analysis</h3>

                            <p>Find out where your community intersects with others. Tap into the network of other
                                influencers and see where your community overlaps.</p>
                        </div>
                        <div class="box to-animate">
                            <div class="icon colored-5"><span><i class="icon-rocket"></i></span></div>
                            <h3>Fast &amp; Powerfull</h3>

                            <p>Never wait to see the data or reports you need.  provides you with
                                important insights daily that will help expand your influence.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box to-animate">
                            <div class="icon colored-3"><span><i class="fa fa-bar-chart"></i></span></div>
                            <h3>Beautiful Analytics</h3>

                            <p>Gain valuable insights, from trends in your content, to historical follower data.
                                Premium accounts can even see competitors data.
                            </p>
                        </div>
                        <div class="box to-animate">
                            <div class="icon colored-4"><span><i class="icon-heart"></i></span></div>
                            <h3>Made With Love</h3>

                            <p> is made by people who love Instagram, and meant for those who are looking for more out of
                                Instagram analytics tools.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="product" class="login-pd wrapper">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-md-12 section-heading text-center">
                    <h2 class="to-animate">Our Tools</h2>

                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 to-animate">
                            <h3 class="feature-branding">< src="/static/sm-icons/dark_logo"> empowers you to effectively manage your brand on Instagram.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row insight-support">
            <div class="col-sm-4">
                < class="-responsive" src="/static//sm_follower_trends_preview">

                <h3>Follower Trends</h3>

                <p class="pitch">Easily visualize the changes in your follower trends. We want to provide you with the
                    data you
                    need, to successfully grow your brand.</p>
            </div>
            <div class="col-sm-4">
                < class="-responsive" src="/static//sm_unfollowers_preview">

                <h3>Beautiful Data</h3>

                <p class="pitch"> makes understanding your data easy. No complications, no hassle, just simple, elegant tools to get the job  done.</p>
            </div>
            <div class="col-sm-4">
                < class="-responsive" src="/static//sm_posts_trends_preview">

                <h3>Content Trends</h3>

                <p class="pitch">Gain valuable insights from your posts. Easily determine how well received your content
                    is and how it affects your influence.
                </p>
            </div>
        </div>
    </section>
    <section id="try-" class="login-pd wrapper">
        <div id="sm-pricing" data-section="pricing">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 section-heading text-center">
                        <h2 class="single-animate animate-pricing-1">Unlimited data analytics</h2>

                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 subtext single-animate animate-pricing-2">
                                <p class="feature-branding">< src="/static/sm-icons/dark_logo"> is free to use with basic services and insights.
                                    Truly understand how your followers interact with your content with a paid plan.</p>
                            </div>
                        </div>
                         <div class="row try--auth">
                            <a class="insta-auth" href="/login/instagram/?next=">Join
                                For Free</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

{% endblock %}