{% extends "bootstrap/base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="container">
        <div style="margin: 30px auto; width: 360px;">
            <h1>Instagram Auto-post</h1>

            {% include "security/_messages.html" %}

            <form action="{{ url_for('security.login') }}" method="POST">
                {{ login_user_form.hidden_tag() }}

                {{ wtf.form_errors(login_user_form) }}

                {{ wtf.form_field(login_user_form.email) }}
                {{ wtf.form_field(login_user_form.password) }}
                {{ wtf.form_field(login_user_form.remember) }}
                <div style="display: none;">{{ wtf.form_field(login_user_form.next) }}</div>
                {{ wtf.form_field(login_user_form.submit, button_map={"submit": "primary"}) }}
            </form>
            <div style="text-align: right;">
                <div>
                    <a href="{{ url_for('security.forgot_password') }}">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
