{% extends "bootstrap/base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="container">
        <div style="margin: 30px auto; width: 320px;">
            {% include "security/_messages.html" %}

            <form action="{{ url_for('security.reset_password', token=reset_password_token) }}" method="POST">
                {{ reset_password_form.hidden_tag() }}

                {{ wtf.form_errors(reset_password_form) }}

                {{ wtf.form_field(reset_password_form.password) }}
                {{ wtf.form_field(reset_password_form.password_confirm) }}
                {{ wtf.form_field(reset_password_form.submit, button_map={"submit": "primary"}) }}

            </form>
        </div>
    </div>
{% endblock %}
