<div class="sidebar-container col-xs-3">
    <nav class="navbar navbar-default" style="border-radius: 0; margin-bottom: 0;">
        <ul class="nav navbar-nav">
            <li>
                <a href="#">Image</a>
            </li>
        </ul>
    </nav>
            <div class="sidebar-header">
                <div class="thumbnail">
                    <img src="http://batr.org/sitebuildercontent/sitebuilderpictures/stest.gif"/>
                </div>
                <div class="thumbnail-nav">
                    <span>&larr;</span><span>&rarr;</span>
                </div>
            </div>
            <div class="sidebar">
                <nav>
                    <div class="acidjs-css3-treeview">
                        <ul>
                            <li class="folder">
                                <input type="checkbox" id="node-0" checked="checked" /><label><input type="checkbox" /><span></span></label><label draggable="true" ondragstart="window.imageManager.drag(event)" ondrop="window.imageManager.drop(event)" ondragover="window.imageManager.allowDrop(event)" for="node-0">Images</label>
                                <ul>
                                    <li class="folder">
                                        <input type="checkbox" id="node-0-0" /><label><input type="checkbox" /><span></span></label><label draggable="true" ondragstart="window.imageManager.drag(event)" ondrop="window.imageManager.drop(event)" ondragover="window.imageManager.allowDrop(event)" for="node-0-0">Documents</label>
                                        <ul>
                                            <li class="folder">
                                                <input type="checkbox" id="node-0-0-0" /><label><input type="checkbox" /><span></span></label><label draggable="true" ondragstart="window.imageManager.drag(event)" ondrop="window.imageManager.drop(event)" ondragover="window.imageManager.allowDrop(event)" for="node-0-0-0">My Documents</label>
                                                <ul>
                                                    <li class="folder">
                                                        <input type="checkbox" id="node-0-0-0-0" /><label><input type="checkbox" /><span></span></label><label draggable="true" ondragstart="window.imageManager.drag(event)" ondrop="window.imageManager.drop(event)" ondragover="window.imageManager.allowDrop(event)" for="node-0-0-0-0">Downloads</label>
                                                        <ul>
                                                            <li class="folder"><input type="checkbox" id="node-0-0-0-0-0" /><label><input type="checkbox" /><span></span></label><label draggable="true" ondragstart="window.imageManager.drag(event)" ondrop="window.imageManager.drop(event)" ondragover="window.imageManager.allowDrop(event)" for="node-0-0-0-0-0">folder</label></li>
                                                            <li class="leaf"><input type="checkbox" id="node-0-0-0-0-1" /><label><input type="checkbox" /><span></span></label><label draggable="true" ondragstart="window.imageManager.drag(event)" ondrop="window.imageManager.drop(event)" ondragover="window.imageManager.allowDrop(event)" for="node-0-0-0-0-1">leaf</label></li>
                                                        </ul>
                                                    </li>
                                                    <li class="folder">
                                                        <input type="checkbox" id="node-0-0-0-1" /><label><input type="checkbox" /><span></span></label><label draggable="true" ondragstart="window.imageManager.drag(event)" ondrop="window.imageManager.drop(event)" ondragover="window.imageManager.allowDrop(event)" for="node-0-0-0-1">Projects</label>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="folder">
                                        <input type="checkbox" id="node-0-1" /><label><input type="checkbox" /><span></span></label><label draggable="true" ondragstart="window.imageManager.drag(event)" ondrop="window.imageManager.drop(event)" ondragover="window.imageManager.allowDrop(event)" for="node-0-1">Music</label>
                                        <ul>
                                            <li class="folder">
                                                <input type="checkbox" id="node-0-1-0" /><label><input type="checkbox" /><span></span></label><label draggable="true" ondragstart="window.imageManager.drag(event)" ondrop="window.imageManager.drop(event)" ondragover="window.imageManager.allowDrop(event)" for="node-0-1-0">My Music</label>
                                            </li>
                                            <li class="folder">
                                                <input type="checkbox" id="node-0-1-1" /><label><input type="checkbox" /><span></span></label><label draggable="true" ondragstart="window.imageManager.drag(event)" ondrop="window.imageManager.drop(event)" ondragover="window.imageManager.allowDrop(event)" for="node-0-1-1">Public Music</label>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="folder">
                                        <input type="checkbox" id="node-0-2" /><label><input type="checkbox" /><span></span></label><label draggable="true" ondragstart="window.imageManager.drag(event)" ondrop="window.imageManager.drop(event)" ondragover="window.imageManager.allowDrop(event)" for="node-0-2">Pictures</label>
                                        <ul>
                                            <li class="folder">
                                                <input type="checkbox" id="node-0-2-0" /><label><input type="checkbox" /><span></span></label><label draggable="true" ondragstart="window.imageManager.drag(event)" ondrop="window.imageManager.drop(event)" ondragover="window.imageManager.allowDrop(event)" for="node-0-2-0">My Pictures</label>
                                            </li>
                                            <li class="folder">
                                                <input type="checkbox" id="node-0-2-1" /><label><input type="checkbox" /><span></span></label><label draggable="true" ondragstart="window.imageManager.drag(event)" ondrop="window.imageManager.drop(event)" ondragover="window.imageManager.allowDrop(event)" for="node-0-2-1">Public Pictures</label>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="folder">
                                        <input type="checkbox" id="node-0-3" /><label><input type="checkbox" /><span></span></label><label draggable="true" ondragstart="window.imageManager.drag(event)" ondrop="window.imageManager.drop(event)" ondragover="window.imageManager.allowDrop(event)" for="node-0-3">Video</label>
                                        <ul>
                                            <li class="folder">
                                                <input type="checkbox" id="node-0-3-0" /><label><input type="checkbox" /><span></span></label><label draggable="true" ondragstart="window.imageManager.drag(event)" ondrop="window.imageManager.drop(event)" ondragover="window.imageManager.allowDrop(event)" for="node-0-3-0">My Videos</label>
                                            </li>
                                            <li class="folder">
                                                <input type="checkbox" id="node-0-3-1" /><label><input type="checkbox" /><span></span></label><label draggable="true" ondragstart="window.imageManager.drag(event)" ondrop="window.imageManager.drop(event)" ondragover="window.imageManager.allowDrop(event)" for="node-0-3-1">Public Videos</label>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="sidebar-footer">
                <button id="showModal-new" class="btn-block btn-success">New Folder</button>
                <button class="btn-block btn-success">Upload</button>
                <button id="showModal-rename" class="btn-block btn-success">Rename</button>
                <button id="delete-images" class="btn-block btn-success">Delete</button>
            </div>
            <div id="modal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" method="get">
                    <div class="modal-body">
                        <div class="form-group">
                            <label draggable="true" ondragstart="window.imageManager.drag(event)" ondrop="window.imageManager.drop(event)" ondragover="window.imageManager.allowDrop(event)" for="folderName" class="control-label col-xs-4">Name:</label>
                            <div class="input-group col-xs-7">
                                <input type="text" name="folderName" id="folderName" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-default" type="button" onclick="modal.close();">Cancel</button>
                        <button class="btn btn-primary" type="submit" onclick="modal.ourExtensions.saveFolderName(event);">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
        </div>